PG_URL = "postgresql://user:password@host:port/db"
REDIS_URL = "redis://user:password@host:port"
DATABASE_URL = "postgresql://user:password@host:port/db"
REDIS_WEB_URL = "redis://user:password@host:port"
JWT_SECRET = ""
REFRESH_JWT_SECRET = ""
CLOUDINARY_URL = "cloudinary://user:password@project"
SALT = ""(10 max)
HOST_ONLINE = ""